
/* Style CSS */

/* FontFace Font Contnet */
@font-face {
    src: url(../fonts/JFFlatregular.ttf);
    font-family: font-content;
}

/* Font Heading */
@font-face {
    src: url(../fonts/Cairo-Black.ttf);
    font-family: font-heading;
}

h1, h2, h3, h4, h5, h6 {
    font-family: font-heading;
}

p, span {
    font-family: font-content;
}

/* Body Page */

body {
    direction: rtl;
    font-family: font-content;
    font-size: 16px;
    color: black;
}

/* Style Header */

header.top_header {
    background-image: url(../images/bg_header.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}

header.top_header nav a img {
    height: 60px;
}

header.top_header nav .navbar-toggler {
    background-color: #0090FF;
    color: #fff;
}

header.top_header nav ul {
    padding: 0;
}

header.top_header nav ul li a {
    color: black;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

header.top_header nav ul li a:hover,
header.top_header nav ul li a:active,
header.top_header nav ul li a:focus {
    color: rgb(56, 56, 56);
}

header.top_header nav ul li.add-menu a svg {
    margin-left: 4px;
}

header.top_header nav ul li.add-menu a {
    background-color: #128ce9;
    margin-left: 12px;
    color: #fff;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 12px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

header.top_header nav ul li.add-menu:hover a,
header.top_header nav ul li.add-menu:active a,
header.top_header nav ul li.add-menu:focus a {
    background-color: #0091ffd7;
}

header.top_header .title_section h4 {
    margin: 30px 0;
    color: black;
}

header.top_header .text_marketing p {
    color: black;
    margin-bottom: 30px;
}

header.top_header .sign_up a.page_sign_up svg {
    margin-left: 4px;
}

header.top_header .sign_up a.page_sign_up {
    background-color: wheat;
    color: black;
    font-weight: 600;
    padding: 7px 35px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: all 0.5s ease-in-out;
}

header.top_header .sign_up a.page_sign_up:hover,
header.top_header .sign_up a.page_sign_up:focus,
header.top_header .sign_up a.page_sign_up:active {
    background-color: blanchedalmond;
}

header.top_header .section_image img {
    height: 315px;
    margin-right: 20%;
}
/* Section Why Us */

.title_section h4 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.text-small p {
    color: black;
    font-weight: 600;
}

.Why_us .shadow_card {
    box-shadow: #0090FF 0px 5px, #2ea3fd 0px 10px, #4daffa 0px 15px, #73bdf7 0px 20px, #79bff5c7 0px 25px;
    padding: 20px;
    margin: 30px 0px;
}

.Why_us .title_img h5 {
    margin: 35px 0;
}

.Why_us .img_icon img {
    height: 90px;
    margin-bottom: 30px;
}

.Why_us .small-description p {
    font-weight: 600;
    color: black;
}

/* Style section Featured */

.Featured-moudaris .second-shadow {
    box-shadow: #0090FF 0px 5px, #2ea3fd 0px 10px, #4daffa 0px 15px, #73bdf7 0px 20px, #79bff5c7 0px 25px;
    margin: 35px 0;
}

.Featured-moudaris .title h5 {
    margin: 30px 0;
}

.Featured-moudaris .icon img {
    height: 85px;
    margin-bottom: 25px;
}

.Featured-moudaris .small-description p {
    color: black;
    font-weight: 600;
}

/* Style Section Successful */

.our_successful {
    background-color: #2cb2ff;
    padding: 5px 0 60px;
    margin: 40px 0; 
}

.our_successful .title_image h5 {
    margin: 40px 0 15px;
}

.our_successful .image-expensses img {
    height: 95px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.our_successful .count span {
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    border: 3px inset #fff;
    padding: 10px;
    border-radius: 10px;
}

/* Style Section Footer */
.latest_footer .title-section h5 {
    margin-top: 20px;
}

.latest_footer .img-logo img {
    margin: 5px 0;
}

.latest_footer .small-description p {
    text-align: justify;
}

.latest_footer .img-logo img {
    height: 70px;
}

.latest_footer .links-important a {
    color: black;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.latest_footer .links-important a:hover,
.latest_footer .links-important a:active,
.latest_footer .links-important a:focus {
    color: #128ce9;
}

.latest_footer .icons-social-media ul {
    padding: 0;
    margin-top: 20px;
}


.latest_footer .icons-social-media ul li {
    margin-right: 0 !important;
    margin-left: 6px;
    background-color: #0090FF;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s ease-in-out;
}

.latest_footer .icons-social-media ul li:hover,
.latest_footer .icons-social-media ul li:active,
.latest_footer .icons-social-media ul li:focus {
    background-color: #169deb;
}

.latest_footer .icons-social-media ul li a {
    text-decoration: none;
}

.latest_footer .icons-social-media ul li a svg {
    font-size: 20px;
    color: #fff;
}

.latest_footer .title-section .add-style {
    margin-bottom: 25px;
}

.latest_footer .button-send button {
    background-color: #0090FF;
    color: #fff;
    font-weight: 500;
    padding: 7px 14px;
    transition: all 0.5s ease-in-out;
}

.latest_footer .button-send button:hover,
.latest_footer .button-send button:active,
.latest_footer .button-send button:focus {
    background-color: #2cb2ff;
    color: black;
}

.latest_footer .copyright h5 {
    font-family: font-content;
    margin: 14px 0;
    font-size: 16px;
}

.latest_footer .copyright h5 a {
    text-decoration: none;
}

/* Responsives page with all device  */

@media (min-width: 320px) and (max-width: 575.98px) {

    header.top_header nav a img {
        height: 50px;
    }

    header.top_header nav .navbar-toggler {
        background-color: #fff;
        color: #0090FF;
    }

    header.top_header .title_section h4 {
        font-size: 20px;
        line-height: 30px;
    }    

    header.top_header .section_image img {
        height: 150px;
        margin-right: 0;
        margin-top: 35px;
    }

    .latest_footer .copyright h5 {
        line-height: 26px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    header.top_header .section_image img {
        height: 250px;
        margin-right: 0;
        margin-top: 40px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    header.top_header .section_image img {
        margin-right: 0;
        margin-top: 40px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
      /* Good Responsive with 992px */
}

@media (min-width: 1200px) {
    /* Good Responsive with 1200px */
}